@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.eot?69851672');
  src: url('../fonts/fontello.eot?69851672#iefix') format('embedded-opentype'),
       url('../fonts/fontello.woff2?69851672') format('woff2'),
       url('../fonts/fontello.woff?69851672') format('woff'),
       url('../fonts/fontello.ttf?69851672') format('truetype'),
       url('../fonts/fontello.svg?69851672#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?69851672#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
 
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-crescent-moon:before { content: '\e800'; } /* '' */
.icon-delivery-insurance:before { content: '\e801'; } /* '' */
.icon-drought:before { content: '\e802'; } /* '' */
.icon-earthquake:before { content: '\e803'; } /* '' */
.icon-eclipse:before { content: '\e804'; } /* '' */
.icon-eruption:before { content: '\e805'; } /* '' */
.icon-fahrenheit:before { content: '\e806'; } /* '' */
.icon-fire:before { content: '\e807'; } /* '' */
.icon-fire-1:before { content: '\e808'; } /* '' */
.icon-flood:before { content: '\e809'; } /* '' */
.icon-fog:before { content: '\e80a'; } /* '' */
.icon-full-moon:before { content: '\e80b'; } /* '' */
.icon-fog-1:before { content: '\e80c'; } /* '' */
.icon-half-moon-1:before { content: '\e80d'; } /* '' */
.icon-half-moon:before { content: '\e80e'; } /* '' */
.icon-landslide:before { content: '\e80f'; } /* '' */
.icon-investment-insurance:before { content: '\e810'; } /* '' */
.icon-house:before { content: '\e811'; } /* '' */
.icon-rain:before { content: '\e812'; } /* '' */
.icon-post-meridiem:before { content: '\e813'; } /* '' */
.icon-medical-insurance:before { content: '\e814'; } /* '' */
.icon-rainbow:before { content: '\e815'; } /* '' */
.icon-rain-1:before { content: '\e816'; } /* '' */
.icon-snowing-1:before { content: '\e817'; } /* '' */
.icon-snowing-2:before { content: '\e818'; } /* '' */
.icon-snowing:before { content: '\e819'; } /* '' */
.icon-storm-1:before { content: '\e81a'; } /* '' */
.icon-storm:before { content: '\e81b'; } /* '' */
.icon-sun:before { content: '\e81c'; } /* '' */
.icon-sunrise:before { content: '\e81d'; } /* '' */
.icon-sunrise-1:before { content: '\e81e'; } /* '' */
.icon-sunset:before { content: '\e81f'; } /* '' */
.icon-sunrise-2:before { content: '\e820'; } /* '' */
.icon-thermometer-2:before { content: '\e821'; } /* '' */
.icon-thermometer-1:before { content: '\e822'; } /* '' */
.icon-thermometer:before { content: '\e823'; } /* '' */
.icon-travel-insurance:before { content: '\e824'; } /* '' */
.icon-tornado:before { content: '\e825'; } /* '' */
.icon-umbrella:before { content: '\e826'; } /* '' */
.icon-tsunami:before { content: '\e827'; } /* '' */
.icon-windy:before { content: '\e828'; } /* '' */
.icon-avalanche:before { content: '\e829'; } /* '' */
.icon-ante-meridiem:before { content: '\e82a'; } /* '' */
.icon-wind-sign:before { content: '\e82b'; } /* '' */
.icon-car:before { content: '\e82c'; } /* '' */
.icon-war:before { content: '\e82d'; } /* '' */
.icon-celsius:before { content: '\e82e'; } /* '' */
.icon-cloudy-night:before { content: '\e82f'; } /* '' */
.icon-cloudy:before { content: '\e830'; } /* '' */
.icon-cloudy-day:before { content: '\e831'; } /* '' */
.icon-right-quote:before { content: '\e832'; } /* '' */
.icon-search:before { content: '\e833'; } /* '' */
.icon-right-arrow-circular-button:before { content: '\e834'; } /* '' */
.icon-back-arrow-circular-symbol:before { content: '\e835'; } /* '' */
.icon-map-marker:before { content: '\e836'; } /* '' */
.icon-health:before { content: '\e837'; } /* '' */
.icon-home-insurance:before { content: '\e838'; } /* '' */
.icon-house-1:before { content: '\e839'; } /* '' */
.icon-house-2:before { content: '\e83a'; } /* '' */
.icon-house-3:before { content: '\e83b'; } /* '' */
.icon-house-4:before { content: '\e83c'; } /* '' */
.icon-house-contract:before { content: '\e83d'; } /* '' */
.icon-house-protection:before { content: '\e83e'; } /* '' */
.icon-house-security:before { content: '\e83f'; } /* '' */
.icon-house-with-hands:before { content: '\e840'; } /* '' */
.icon-house-with-hands-1:before { content: '\e841'; } /* '' */
.icon-house-with-shield:before { content: '\e842'; } /* '' */
.icon-inundation:before { content: '\e843'; } /* '' */
.icon-motorbike:before { content: '\e844'; } /* '' */
.icon-safebox:before { content: '\e845'; } /* '' */
.icon-ship:before { content: '\e846'; } /* '' */
.icon-suitcase:before { content: '\e847'; } /* '' */
.icon-travel-protection:before { content: '\e848'; } /* '' */
.icon-car-contract:before { content: '\e849'; } /* '' */
.icon-car-insurance:before { content: '\e84a'; } /* '' */
.icon-contract:before { content: '\e84b'; } /* '' */
.icon-contract-1:before { content: '\e84c'; } /* '' */
.icon-contract-coverage:before { content: '\e84d'; } /* '' */
.icon-family-care:before { content: '\e84e'; } /* '' */
.icon-family-house:before { content: '\e84f'; } /* '' */